<h1>PORTLAND JOB BOARD</h1>

<form class="" action="/JobAdded" method="post">
  <p>Add new jobs to the list in the form below: </p>
  <div class="form-group">
    <label for="titleName">Job Title</label>
    <input type="text" class="form-control" name="titleName">
  </div>
  <div class="form-group">
    <label for="descriptionName">Job Description</label>
    <input type="text" class="form-control" name="descriptionName">
  </div>
  <div class="form-group">
    <label for="contactInfoName">Company Contact</label>
    <input type="text" class="form-control" name="contactInfoName">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
