<h1>PORTLAND JOB BOARD</h1>

<div class="row">
  <p>Here is the new job you just entered: </p><br>

  <p>@Model.GetTitle()</p>
  <p>Job description: @Model.GetDescription()</p>
  <p>Job contactInfo: @Model.GetContactInfo()</p>
</div>
<p><a href="addNewJob.cshtml">Add Another Job</a></p>
<p><a href="/JobInventory.cshtml">View All Jobs</a></p>
